#container {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}

.quote {
	position: relative;
	border: 1px solid black;
	max-width: 300px;
	padding: 10px;
	margin: 5px;

	cite {
		
	}
}