header {
	width: 90%;
	margin: 0 auto;
	margin-bottom:30px;
	border-bottom: 1px solid rgba(210, 210, 210, 1);
	h1 {
		font-family: 'Satisfy', cursive;
		font-size: 2.7em;
		margin-bottom: 0px;
		color: $header-color;
	}
	h2 {
		margin-top: 0px;
		font-family: 'Lato', sans-serif;
		font-size: 1.2em;
	}
}

#container {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
}

.quote {
	position: relative;
	max-width: 350px;
	padding: 10px;
	margin: 5px;
	.fa-quote-left {
		margin:0;
		padding:0;
	}
	blockquote {
		font-family: 'Lato', sans-serif;
		margin-top:-5px;
		margin-left:22px;
	}
	cite {
		font-family: 'Satisfy', cursive;
		font-size: 1.5em;
		color: $cite-color;
	}
}

footer {
	background-color: rgba(210, 210, 210, 1);
	margin:0;
	margin-bottom: -15px;
	p {
		padding: 20px;
		text-align: center;
	}
}

@media only screen and (max-width: 858px) {
	header {
		width: 99%;
		padding-left:20px;
	}
	#container {
		width: 99%;
	}
}

@media only screen and (max-width: 	736px) {
	#container {
		flex-direction: column;
	}
	.quote {
		max-width: 90%;
	}
}